@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade {
  animation: fade 0.4s ease-in-out;
}
